<div style="width: 100%; height: 50px;">

  <h3>Logged in as: <%= current_user.first_name %></h3>

  <%= form_tag logout_path, method: :delete do %>
    <%= submit_tag "Logout" %>
  <% end %>

</div>

<h1>Your personas:</h1>

<%= link_to "Personas Home", new_persona_path %>
<br>
<% if @personas.blank? %>
  <p>You have no personas.  Try creating one!</p>
<% end %>

<ul>
  <% @personas.each do |persona| %>
    <li><%= persona.name %></li>
  <% end %>
</ul>
